<!doctype html lang="en">

{% load static %}

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Free web tools for designing and managing your own barbell training program">

<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<title>Steam Roller Fitness - Precision Tools For Managing Your Workouts</title>
<h1>The Ultimate Resource For Managing Your Barbell Training Progam</h1>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Steam Roller Fitness</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>



  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/about/">About <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="ProjectsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Your Workout
        </a>
        <div class="dropdown-menu" aria-labelledby="WorkoutDropdown">
          <a class="dropdown-item" href="/health_metrics/">Health Metrics</a>
          <a class="dropdown-item" href="/supplements/">Supplements</a> 
          <a class="dropdown-item" href="/primary_lift/">Primary Lift</a>
          <a class="dropdown-item" href="/assistant_lift_1/">Assistant Lift 1</a>
          <a class="dropdown-item" href="/assistant_lift_2/">Assistant Lift 2</a>
          <a class="dropdown-item" href="/accessory_lift_1/">Accessory Lift 1</a>
	  <a class="dropdown-item" href="/accessory_lift_2/">Accessory Lift 2</a> 
        </div>
        <div class="dropdown-menu" aria-labelledby="WorkoutDropdown">
      </li>


    </ul>
  </div>

</nav>





</head>

<style>
/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}


</style>

<body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

Welcome to my site!<br><br>


This site is currently under construction. Come back soon!<br><br>


<br><br>
Follow me on:<br>
<a href="https://www.facebook.com/ronnie.boutilier" class="fa fa-facebook"></a>
<a href="https://www.youtube.com/channel/UCCigkwK9ZGr7h07SRSSJJwQ" class="fa fa-youtube"></a>
<a href="https://www.linkedin.com/in/ronaldaboutilier/" class="fa fa-linkedin"></a>
<a href="https://www.instagram.com/ronnieboutilier/" class="fa fa-instagram"></a>
<a href="https://www.twitter.com/ronaldaboutilier/" class="fa fa-twitter"></a>
</body>
