{% extends 'main/ronboutilier_header.html' %}
{% block content %}

Welcome to my site!<br><br>


This site is currently under construction. Come back soon!<br><br>


Once complete, you will be able to create your own workout program<br>


<br><br>
Follow me on:<br>
<a href="https://www.facebook.com/ronnie.boutilier" class="fa fa-facebook"></a>
<a href="https://www.youtube.com/channel/UCCigkwK9ZGr7h07SRSSJJwQ" class="fa fa-youtube"></a>
<a href="https://www.linkedin.com/in/ronaldaboutilier/" class="fa fa-linkedin"></a>
<a href="https://www.instagram.com/ronnieboutilier/" class="fa fa-instagram"></a>
<a href="https://www.twitter.com/ronaldaboutilier/" class="fa fa-twitter"></a>
</body>

{% endblock %}
