{% extends 'main/header.html' %}

{% block content %}

    <div class="row">

        <div class="col s12, m8, l8">
            <h3>{{element.element_number}}</h3>
            <p style="font-size:70%">Published {{element.element_published}}</p>
            {{element.element_notes|safe}}
        </div>

        <div class="col s12 m4 l4">
            <ul class="collapsible popout">
                {% for element in sidebar %}
                    {% if forloop.counter0 == this_element_idx %}
                        <li class="active">
                            <div class="collapsible-header">{{element.element_number}}<br>(currently viewing)</div>
                        </li>
                    {% else %}
                        <li>
                            <div class="collapsible-header">{{element.element_number}}</div>
                            <div class="collapsible-body">
                                <p><a href="/{{element.element_slug}}"><button class="btn waves-effect waves-light right-align" style="background-color:yellow; color:black">Go</button></a></p>

                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

    </div>

{% endblock %}