{% extends 'main/header.html' %}

{% block content %}

    <p>
        <a href="{% url 'main:getting_started' %}" class="btn btn-primary">How To Use This Site</a>
    </p>

    {% if user.is_authenticated %}

        <h3>Your Trips:</h3>

        <div class="row">
            {% for trip in trips %}
                <div class="col s12 m6 l4">
                    <a href="{{trip.trip_name}}", style="color:#000">
                        <div class="card hoverable">
                            <div class="card-content">
                                <div class="card-title">{{trip.trip_name}}</div>
                                <p>{{trip.trip_summary}}</p>
                                <p>
                                <form method="post" enctype="multipart/form-data" action="/{{trip.trip_name}}/delete_trip">
                                {% csrf_token %}
                                <button class="btn waves-effect waves-light left-align" style="background-color:red; color:white">Delete</button>
                                </form>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn bn-primary">Upload A Trip</button>
        </form>


    {% else %}

    <h2>Welcome to my site!</h2>


    Features include:<br>
    -create your own account<br>
    -upload selection set<br>
    -upload notes and notes history<br>
    -Google Maps link<br>
    -dynamic trip sheet<br>
    -classic trip sheet<br>
    -Fuel Station map<br>
    <br>
    Future updates:<br>
    -Delorme input<br>
    -high risk highlight<br>
    -attch notes to bridge<br>





    {% endif %}
    
{% endblock %}