{% extends 'main/header.html' %}

{% block content %}

    <p>
        <a href="{% url 'main:getting_started' %}" class="btn btn-primary">How To Use This Site</a>
    </p>

    {% if user.is_authenticated %}

        <h3>Your Trips:</h3>

        <div class="row">
            {% for trip in trips %}
                <div class="col s12 m6 l4">
                    <a href="{{trip.trip_name}}", style="color:#000">
                        <div class="card hoverable">
                            <div class="card-content">
                                <div class="card-title">{{trip.trip_name}}</div>
                                <p>{{trip.trip_summary}}</p>
                                <p>
                                <form method="post" enctype="multipart/form-data" action="/{{trip.trip_name}}/delete_trip">
                                {% csrf_token %}
                                <button class="btn waves-effect waves-light left-align" style="background-color:red; color:white">Delete</button>
                                </form>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn bn-primary">Upload A Trip</button>
        </form>


    {% else %}

            I have created this site for planning trips and for use as a supplemental tool during field inspections.<br>
            You may create an account and use the trip preparation tools, or you can just use the general resources.<br>
            This site is an ongoing project, and feedback from bridge inspectors can be used to improve the site<br><br>
            Upcoming features include:<br>
            Photo number buttons so you dont have to flip through pages in the field<br>
            Ability to add additional notes from previous inspection dates (sometimes that is useful in the field)<br>
            4-year inspection fequency criteria calcuator<br>
            Attach notes to 3D bridge model<br>
            Edit existing notes in field and export into excel for import into BridgeWorks<br>
            Make 3D model into mouse hoverable dynamic object<br>
            Dynamic cover sheet<br>
            Downloadable trip cover sheet<br><br>

            Keep in mind it will take me a while to make any changes because I am doing this in baby steps in my spare time<br>



    {% endif %}
    
{% endblock %}