{% extends "main/header.html" %}

{% block content %}



<script src= "https://cdnjs.cloudflare.com/ajax/libs/three.js/102/three.js"></script>
<script src= "https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
<script src= "https://cdn.jsdelivr.net/npm/three@0.101.1/examples/js/controls/OrbitControls.js"></script>
<script src= "https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.7/dat.gui.min.js"></script>



<script>

        

var spans = 3;
var structure_length = 100;
var average_span_length = 20;
var deck_width = 20;


// SCENE

var scene = new THREE.Scene();


var camera = new THREE.PerspectiveCamera(45, window.innerWidth/window.innerHeight, 0.1, 1000);
camera.position.set(average_span_length,50,0.5*structure_length);
camera.lookAt(scene.position);

        
var renderer = new THREE.WebGLRenderer({antialias: true});
renderer.setClearColor("#e5e5e5");
renderer.setSize(window.innerWidth,window.innerHeight);

var controls = new THREE.OrbitControls(camera, renderer.domElement);
controls.addEventListener("change", () => renderer.render(scene, camera));

// GEOMETRY & MATERIALS


var cylinderGeometry = new THREE.CylinderGeometry(3, 3, 20, 8);
var cylinderMaterial = new THREE.MeshLambertMaterial({color: 0xD2D1CD});

for (i = 0; i < spans-1; i++) {
    var column = new THREE.Mesh(cylinderGeometry, cylinderMaterial);
    scene.add(column);
    column.position.set(0,10,-i*average_span_length);
}


var shape = new THREE.Shape();
shape.moveTo( -deck_width/2,20 );
shape.lineTo( -deck_width/2-5, 25 );
shape.lineTo( deck_width/2+5, 25 );
shape.lineTo( deck_width/2, 20 );
shape.lineTo( -deck_width/2, 20 );
var extrudeSettings = {
    steps: 1,
    depth: -structure_length,            
    bevelEnabled: false,
};
var geometry = new THREE.ExtrudeGeometry( shape, extrudeSettings );
var material = new THREE.MeshLambertMaterial( { color: 0xD2D1CD} );
var mesh = new THREE.Mesh( geometry, material );
scene.add( mesh );
mesh.position.z = average_span_length


var boxGeometry = new THREE.BoxGeometry (60, 10,10);
var boxMaterial = new THREE.MeshBasicMaterial ({color: 0x00ffff});
arm = new THREE.Mesh (boxGeometry, boxMaterial);
scene.add (arm);
theta1 = 30    ///make variable
arm.rotation.y = theta1;
arm.position.set (30*Math.cos(theta1),0,-30*Math.sin(theta1));

 boxGeometry = new THREE.BoxGeometry (90, 10,10);
 boxMaterial2 = new THREE.MeshLambertMaterial ({color: 0xff00ff, wireframe:true});
 arm2 = new THREE.Mesh (boxGeometry, boxMaterial2);
 arm.add (arm2)
 theta2 = 30    ///make variable
 arm2.rotation.y = theta2;
 arm2.position.set (30+45*Math.cos(theta2), 0, -45*Math.sin(theta2));


// Options to be added to the GUI

var options = {
  velx: 0,
  vely: 0,
  camera: {
    speed: 0.0001
  },
  stop: function() {
    this.velx = 0;
    this.vely = 0;
  },
  reset: function() {
    this.velx = 0.1;
    this.vely = 0.1;
    camera.position.z = 75;
    camera.position.x = 0;
    camera.position.y = 0;
    column.scale.x = 1;
    column.scale.y = 1;
    column.scale.z = 1;
    column.material.wireframe = false;
  }
};

// DAT.GUI Related Stuff

var gui = new dat.GUI();

var cam = gui.addFolder('Camera');
cam.add(options.camera, 'speed', 0, 0.0010).listen();
cam.add(camera.position, 'y', 0, 100).listen();
cam.open();

var velocity = gui.addFolder('Velocity');
velocity.add(options, 'velx', -0.2, 0.2).name('X').listen();
velocity.add(options, 'vely', -0.2, 0.2).name('Y').listen();
velocity.open();

var box = gui.addFolder('Column');
box.add(column.scale, 'y', 0, 3).name('Height').listen();
box.open();

gui.add(options, 'stop');
gui.add(options, 'reset');


// LIGHT

var spot1 = new THREE.SpotLight(0xffffff);
spot1.intensity = 2;
spot1.position.set(average_span_length,100,0.5*structure_length);
scene.add(spot1);


// FINISH SCENE SETUP

document.body.appendChild(renderer.domElement);


var render = function() {

  requestAnimationFrame(render);

  var timer = Date.now() * options.camera.speed;
  camera.position.x = Math.cos(timer) * 100;
  camera.position.z = Math.sin(timer) * 100;
  camera.lookAt(scene.position); 
  camera.updateMatrixWorld();

  column.rotation.x += options.velx;
  column.rotation.y += options.vely;

  renderer.render(scene, camera);


};

render();

</script>

{% endblock %}