{% extends "main/header.html" %}

{% block content %}



<script src= "https://cdnjs.cloudflare.com/ajax/libs/three.js/102/three.js"></script>
<script src= "https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
<script src= "https://cdn.jsdelivr.net/npm/three@0.101.1/examples/js/controls/OrbitControls.js"></script>
<script src= "https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.7/dat.gui.min.js"></script>



<script>

var length = 60
var height = 15
var panels = 4

var connectivity = 1




</script>

{% endblock %}
